/*font Variables*/
/*Color Variables*/
/*=================== fonts ====================*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500|Rubik:500,700");
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Medium Layout: 1280px */
/* Tablet Layout: 768px */
/* Mobile Layout: 320px */
/* Wide Mobile Layout: 480px */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
:root {
  --font-family: 'Rubik', sans-serif;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #ffffff;
  --primary-color: #0012b1;
  --secondary-color: #35e1ff;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #0097f5;
  --bottom-margin: 0.8rem;
  --bottom-margin-2: 2em;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(13, 26, 174);
}

a:hover {
  text-decoration: none;
  color: var(--secondary-color);
}

body {
  line-height: 26px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #3f448c;
  background-color: #f9f9f9;
}
section {
  /* max-width: 1100px;
  margin: auto; */
}
.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
/* CSS Resets end */

/* Navbar */
nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(10, 27, 221, 0.358);
}
.nav h1 {
  color: rgb(1, 21, 124);
}

nav a {
  color: var(--primary-color);
  transition: var(--transition);
}
nav a:hover {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}
/* Navbar ends */

/* Hero section */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 58.75rem;
  margin: auto;
  background-image: url(../images/cool-background.png);
  background-size: cover;
  background-position: center;
  
}

.hero-img{
  height: 27.5rem;
  width: 27.5rem;
}

.bio {
  width: 30rem;
  padding: 0.625rem;
  border-radius: 16px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
  font-size: 2rem;
}

.bio h3 {
  line-height: 2em;
  padding: 0.6rem 0;
  font-size: 1.7em;
}

.bio h5{
  line-height: 2em;
  padding: 0.5rem 0;
  font-size: 1.2em; 
}
/* More about ends */
.primary_btn {
  display: inline-block;
  color: #fff;
  letter-spacing: 2px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 10px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-image: linear-gradient(to right, #5c8fff6c 0%, #14babd 100%), radial-gradient(circle at top left, #2e13db, #0eaceb);
  border: double 2px transparent;
  box-shadow: 0px 10px 30px rgba(0, 89, 255, 0.3); }
  .primary_btn span {
    padding: 0 22px; }
  .primary_btn.tr-bg {
    background-image: linear-gradient(#0b877c, #bfbef7bc), radial-gradient(circle at top left, #4458dc, #854fee);
    border: 1px solid transparent;
    color: #ffffff;
    box-shadow: none; }
    .primary_btn.tr-bg:hover {
      background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
      border: double 2px transparent;
      color: #ffffff;
      box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3); }
  .primary_btn:hover {
    background-image: linear-gradient(#ffffff, #ffffff), radial-gradient(circle at top left, #4458dc, #854fee);
    border: 1px solid #854fee;
    color: #222222;
    box-shadow: none;
    background-clip: border-box; }

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%; }
/* Hero section ends */

/* More about */
.more-about {
  background-color: var(--bg-color);
  padding: 2rem 7rem;
}

.more-about h2 {
  margin-bottom: var(--bottom-margin);
  text-align: center;
}

.more-about p {
  line-height: var(--line-height);
  padding: 0.4rem;
}

/* Skills section */
.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.skill-header {
  margin-bottom: 1rem;
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}
/* Skills section ends */


/* formacion section */
/* Estilo básico para el Slider*/
#gallery {
  width: 80%;
  margin: auto;
  overflow: hidden;
  
}
#gallery h2{
  text-align: center;
  padding-top: 40px;
  margin-bottom: 40px;
}
.gallery-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.gallery-item {
  min-width: 70%;
  box-sizing: border-box;
}

.gallery-item img {
  width: 80%;
  display: block;
}

/* Navegación del Slider */
.gallery-navigation {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 0px;
}

.nav-button {
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 7px;
}

.nav-button:hover {
background-color: #005f5f;
}

  
/* Projects section */
.projects {
  background-color: var(--bg-color);
  padding: 32px 0;
  margin-top: 2rem;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
}

.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}

.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

.project-pic {
  width: 65%;
  height: 60%;
}
/* Projects section ends */

/* Contacts section */
.contact {
  margin-top: 2rem;
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
}

.input-field::placeholder {
  padding: 0.5rem;
  color: var(--primary-color);
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}

.submit-btn:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
}
/* Contacts section ends */

/* Social buttons */
.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
}

.socicon {
  width: 2rem;
  height: 2rem;
}
/* Social button ends */

/* Scroll to top button */
.scroll-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.up-arrow {
  width: 3rem;
  height: 3rem;
}
/* Scroll to top button ends */

/* Footer section */
footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}

footer img{
  max-width: 8%;
}

/* Footer section ends */

/* General (utilities) */
.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}
.formacion-card{
  background-color: #bed4e9;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-color);
  padding: 25px;
}
/* Media queries for responsiveness */
@media screen and (max-width: 720px) {
  nav {
    padding: 1.5rem 1rem;
  }
  nav ul {
    position: fixed;
    background-color: var(--bg-color);
    flex-direction: column;
    top: 86px;
    left: 10%;
    width: 80%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }

  nav ul.show {
    transform: translateX(0);
  }

  nav ul li {
    margin: 8px;
  }

  .burger-menu {
    display: block;
  }

  .hero {
    margin-top: 4rem;
    flex-direction: column;
    gap: 0;
  }

  .bio {
    margin-top: 2rem;
    width: 20.5rem;
  }

  .hero img {
    height: 27rem;
    width: 27rem;
  }

  .more-about {
    margin-top: 2rem;
    padding: 1rem 3.5rem;
  }

  .more-about h2 {
    text-align: center;
  }

  .more-about p {
    text-align: justify;
  }

  .icon {
    width: 5.875rem;
    height: 5.25rem;
  }

  .projects-container {
    flex-direction: column;
  }

  .project-container {
    width: 20.875rem;
  }
.formacion{
  width: 20.87rem;
}
 
  .contact-form-container {
    max-width: 23.75rem;
  }
}

@media screen and (max-width: 420px) {
  .hero img {
    height: 27rem;
    width: 27rem;
  }

  .bio {
    width: 18.3rem;
  }

  .project-container {
    width: 17.875rem;
  }
 .formacion 
{
  max-width: 20%;
}

  .contact-form-container {
    max-width: 17.75rem;
  }
}
html, body {
  
  margin
  : 0;
    
  padding
  : 0;
  }